// .clearBtn{
//     margin-top: 10px;
// }
.table{
    width: 1000px !important;
    margin-right: 20px;
    text-align: center; 
    td{
        border-top: 1px #D3D3D3 solid;
        border-bottom: 1px #D3D3D3 solid;
    }
}
.form{
    margin-top: 5px;
}
.FormItem{
    margin-right: 10px;
    margin-bottom:0 !important;
}

.Sbutton{
    // margin-bottom:0 !important;
    margin-left: 5% !important;
    
}
.card{
    margin: 0px;
    min-width: 350px;
}
