table{
    th{
        padding: 0.4%;
        transform: translate(-2%, 0);
        font-weight: 700;
        font-size: 1.3rem;
    }
    th, td{
        text-align: center !important;
        min-width:15vw !important;
        padding-right: 2% ;
    }
}
.card{
    width:100%;
    margin: 10px 0 !important;
}
.Form{
    display: flex;
}
@media(max-width: 1300px){
    .Form{
        display: block;
    }
}
.formitem{
    // margin-bottom: 0 !important;
    margin-right: 2% !important;
    width:100%;
}
.outerspace{
    width:100%;
}
.clickBtn{
    display: flex;
    align-items: center;
}
