table{
    width: 100%;
    th{
        padding: 0.4%;
        transform: translate(-2%, 0);
        font-weight: 700;
        // font-size: 1.1rem;
    }
    th, td{
        text-align: center !important;
        // min-width:15vw !important;
        // width: 100%;
        padding-right: 2% ;
    }
}
.card{
    width:100%;
    margin: 10px 0 !important;
}
.step{
    display: flex !important;
    width:80% !important;
    padding:20px !important;
    margin: auto;
}
.Tabicon{
    margin-right: 15px ;
    font-size: 26px;
}
@media(max-width: 1380px){
    .Form{
        display: block;
    }
}

.outerspace{
    width:100%;
}
.clickBtn{
    display: flex;
    align-items: center;
}
.fileinput{
    width: 230px !important; 
}
.actioninput{
    width: 150px !important; 
}
.deviceinput{
    width: 230px !important; 
}
.modelinput{
    width: 150px !important; 
}

.formwrap{
    display: flex;
    width: 100%;
    // justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    .formDiv{
        margin-right:2%;
    }
    .submitBtn{
        margin-top: auto;
    }
}
.formDiv p{
    // font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.table{
    width: 100%;
    text-align: center;
    overflow-x: auto;
    th{
        text-align: center !important;
    } 
    td{
        border-top: 1px #D3D3D3 solid;
        border-bottom: 1px #D3D3D3 solid;
        text-align: center;
    }
}
.clickBtn{
    margin: 0 20px 20px 0;
    display: flex;
    align-items: center;
    height:auto !important;
}


.card{
    max-width: 100% !important;
}

.actionCol{
    display: flex;
    // min-width: 200px;
    text-align: center;
}
