.PieWrapper {
  display: flex;
  // justify-content: space-between;
  :global(.ant-card-body){
    height: calc((100vh - 120px) / 2 - 70px) !important;
  }
}

.IotMapWrapper {
  width: 100%;
  margin-top: 15px;
}
.RouterCardWrapper{
  // cursor: pointer;
  :global(.ant-card-body){
    height: calc((100vh - 120px) / 2 - 70px) !important;
  }
}

.Card {
  width: 100%;
  height: calc((100vh - 100px) / 2);
  box-sizing: border-box !important;
  text-align: center;
  padding: 5px !important;
  position: relative;
  .PieChart {
    margin-top: 15px;
    height: calc((100vh - 120px) / 2 - 146px) !important;
    // height: 100% !important;
    width:100%;
    padding: 0px !important;
    position: absolute;
    // top: 20px;
    top: 33%;
    left: 50%;
    transform: translate(-50%, 0%);
    
  }
  &.MapCard{
    margin-top: 5px;
    // width: calc(100vw - 235px)
  }
  .DashboardMap{
    height: calc((100vh - 120px) / 2 - 40px);
  }
  .RouterWrapper {
    // height: calc((100vh - 120px) / 2 - 125px) !important;
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
    .RouterDesc{
    position:absolute;
    top: 3%;
    left: 3%;
    font-weight: bold;
    font-size: 0.9rem;
    }
    h2 {
      font-size: 3rem;
      color: #002FA7;
      font-weight: bold;

    }
  }

  :global(.ant-card-head-title) {
    font-size: 1.5rem !important;
  }
}

@media(max-width: 576px){
  .Card {
    .PieChart {
      top: 40%;
    }
  }

}


.donC {
  width: 100%;
  height: 30%;
}


.col {
  // border: 1px black solid;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.guage {
  font-size: 16px;
  height: 235px !important;
  width: 100%;
  margin-bottom: -10%;

}
.guageTag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10% !important;
  margin-top: 5px;
  p {
    margin: 0 !important;
    font-weight: bold;
  }
}
.guageIcon {
  font-size: 1.5rem;
  margin-right: 7px;
}
.markerWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .markerIcon {
    margin-top: 2px;
    margin-left: 10px;
    height: 1.4rem;
    width: 1.1rem;
  }
  p {
    margin: 0;
    margin-left: 3px;
    font-weight: 500;
  }
}
.collapWrapper {
  cursor: pointer;
  color: rgb(33, 150, 243);
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .collapIcon {
    margin-right: 7px;
    font-size: 5rem;
  }
  p {
    margin: 0;
    margin-top: 2px;
    font-size: 0.9rem;
    font-weight: bold;
  }
}
.btn{
  // width:24px !important;
  // height:24px !important;
}
.autoRefresh {
  position: relative;
  // font-size: 1.6rem !important;
  .alphet{
    font-weight: bold;
    color:#002fa7;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    right: 8px;
    top:6px;
    z-index: 50;
  }
}
.settingIcon{
  cursor: pointer;
}
.iconBackground{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  // min-height:80px;
  // min-width: 110px;
  position: absolute;
  right: -26px;
  top:4px;
}

.alarmtable {
  th {
    background: white !important;
  }
}


.legendWrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
  .legend{
    width:45%;
    margin-left: 15px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    p{
      font-weight: 600;
      margin:0;
      margin-left: 5px;
      font-size: 0.9rem;
    }
  }
}
.PieSum {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.4rem;
  font-weight: bold;
  color:#002FA7;
}

.CardList{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .CardItem{
    width: 25%;;
    height: calc((100vh - 100px) / 2);
    box-sizing: border-box !important;
    text-align: center;
    padding: 5px !important;
  }
  .CardItemMap{
    height: calc((100vh - 100px) / 2);
    width: 100% !important;
  }
}

@media(min-width: 768px) and(max-width: 1450px){
  .CardList{
    .CardItem{
      width: 50% !important;
    }
  }
}
@media(max-width: 768px){
  .CardList{
    .CardItem{
      width: 100% !important;
    }
  }
}

// @media (max-width: 960px) {
//   .PieWrapper {
//     flex-wrap: wrap;
//   }
//   .Card {
//     height: auto;
//     &.IoTCard {
//       height: auto;
//     }
//     .subCard {
//       width: 100%;
//     }
//   }
// }
