.container{
    max-width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.icon{
    font-size: 30px;
    margin: 10px;
}
.wrap{
    width: 100% !important;
    // padding: 0 15px;
    // display: flex;
    margin: 0 auto;
    // justify-content: center;
}
@media(max-width: 1000px){
    .wrap{
        flex-direction: column;
    }
}
@media(max-width: 768px){
    .TabPane{
        font-size: 22px !important;
    }
}

.tabs{
    width: 100%;
}
// .TabPane{
//     width:100%
// }
