.card {
  height: 80vh;
  // margin-top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerBtn {
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    color: blue;
    width: 380px;
    text-align: center;
    margin:0 auto;
    background: #FFFAF0;
    font-weight: 600;
    &:hover{
        color: gray;
    }
    span{
        cursor: default;
        color:black;
    }
}
