.Logo{
  height:80px;
}
.LogoSmall{
  height: 25px;
  margin-top: 120%;
  margin-right: 25%;
}
.MD {
  display: none;
}
.MDhideNav{
    display: none;
}
.NavIconWrapper {
  display: flex;
  flex-direction: column;
}
.container{
    position:relative
}
.navwrap {
  display: flex;
  flex-direction: column;
  top: 0;
  max-width: 200px;
  height: 100vh;
  padding:0 20px;
  justify-content: flex-start;
  align-items: center;
  background: #001529;
  position: relative;
  &.MDshowNav{
    min-width: 230px;
    position: absolute;
    top:0;
    left:0;
    z-index:99;
  }
  &.ChangeBGforHide{
      background: white ;
  }
  &.MDmenue {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  &.hideNavbar {
    display: none;
  }
  .navitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    li {
      text-align: center;
      width: 100%;
      display: block;
      
    }
    li.title {
      background: #001529;
      padding: 25px 15px;
      line-height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      position: relative;
      h2 {
        margin-bottom: 0px;
        line-height: 23px;
        color: white;
        margin-right:10px;
      }
      .cross {
        width: auto;
        font-size: 10px;
        position: absolute;
        right: -15%;
        top: -5%
      }
    }
    li a {
      display: flex;
      align-items: center;
      padding: 18px 10px;
      margin-right:5px;
      line-height: 18px;
      color: hsla(0, 0%, 100%, 0.65);
      width: 130%;
      span{
        font-size: 1.1rem;
        display: inline-block;
        width: 100px;
        margin-left: 10px;
      }
      &:hover {
        color: white;
      }
    }
  }
  .LogoutBtn {
    background: #6c757d;
    padding: 7px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    color: lightgray;
  }
}
