.bar{
    // background: gray;
    display:none;
    height:52.4px;
    &:hover{
        background: #DCDCDC;
    }
    &.active{display:inline-block ;}
    a{
        color: #001529;
        font-size: 25px;
        padding: 12.7px;
        line-height: 26px;
        display: inline-block;
    }
}
.NavIconWrapper{
    display: flex;
    flex-direction: column;
}
.navwrap{
    display: flex;
    flex-direction: column;
    top:0;
    width: 200px;
    height:100vh;
    justify-content: flex-start;
    align-items: center;
    // background: #F8F8FF;
    background: #001529;
    // color: white;
    &.active{
        transform:translateX(-200px);
        display: none;
        
    }
    .navitems{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        li{
            text-align: center;
            width: 100%;
            display: block;
        }
        li.title{
            background: #001529;
            padding:25px 15px;
            line-height: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            position: relative;
            h2{
                margin-bottom: 0px;
                line-height: 23px;
                color:white;
            }
            .cross{
                padding-left: 10;
                margin-right: 3px;
                width: auto;
                font-size: 10px;
                position: absolute;
                right: 0%;
                padding: 10px;
            }
        }
        li a{
            display: inline-block;
            padding:18px;
            line-height: 18px;
            color: hsla(0,0%,100%,.65);
            width: 100%;
            &:hover{
                // background:#DCDCDC;
                color:white;
            }
        }
    }
    .LogoutBtn{
        background: #6c757d;
        padding: 7px;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        color: lightgray;
    }
}