.container{
    display: flex;
    padding: 20px;
    height: calc(100vh - 70px);
    .card{
     height: 100%;
        .cardbody{
            height: 100%;
        }
    }
    .tree{
        width:60%;
    }
    .detail{
        width:100%;
    }

}