:global(.ant-descriptions-view) {
  overflow: auto !important;
}
:global(.ant-table-column-sorters) {
  span {
    font-family: Oswald !important;
    letter-spacing: 0.02em !important;
    font-size: 1.1rem !important;
  }
}

:global(.ant-tabs-tab-btn) {
  font-family: Oswald !important;
  letter-spacing: 0.02em !important;
  font-size: 1rem;
}

:global(.ant-modal-title) {
  font-family: Oswald !important;
  letter-spacing: 0.02em !important;
  font-size: 1.1rem !important;
}

:global(.ant-card-head-title) {
  font-family: Oswald !important;
  letter-spacing: 0.02em !important;
  font-size: 1.1rem !important;
}

:global(.ant-drawer-title) {
  font-family: Oswald !important;
  letter-spacing: 0.02em !important;
  font-size: 1.1rem !important;
}

:global(.ant-table-thead) {
  th {
    font-family: Oswald !important;
    font-size: 1rem;
    // letter-spacing: 0.06em !important;
  }
}
:global(.ant-table-filter-column-title) {
  font-family: Oswald !important;
  font-size: 1rem;
}

.up {
  color: green;
  font-size: 1.4rem;
  margin-right: 4%;
  p {
    padding-bottom: 0px;
  }
}
.critical {
  color: gold;
  margin-right: 4%;
  font-size: 1.4rem;
}

.warning {
  color: red;
  margin-right: 4%;
  font-size: 1.4rem;
}

.offline {
  color: black;
  margin-right: 4%;
  font-size: 1.4rem;
}

//   .override-ant-descriptions-view {
//     :global(.ant-descriptions-view) {
//         overflow: auto !important;
//     }
//   }

.desc {
  :global(.ant-descriptions-item-label) {
    width: 200px;
  }
  :global(.ant-descriptions-item-content) {
    width: 200px;
  }
  :global(.ant-descriptions-header) {
    margin-bottom: 3px;
    margin-top: 10px;
  }
  :global(.ant-descriptions-title) {
    font-size: 0.85rem !important;
  }
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
}
.Tabs {
  margin: 20px;
  .tabpane {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .connection {
      overflow-y: scroll;
      max-height: 450px;
    }
  }
}
.alarmlog {
  color: red;
  margin-right: 4%;
  font-size: 1.4rem;
  cursor: pointer;
  &.disabled {
    color: gray;
    cursor: not-allowed;
  }
}
.modal {
  width: 70% !important;
  overflow-x: auto !important;
  &.Citymodal {
    width: 30% !important;
  }
}

.IoT {
  margin-right: 4%;
  font-size: 1.4rem;
  cursor: pointer;
  &.disabled {
    color: gray;
    cursor: not-allowed;
  }
}
.Status,
.Map,
.Setting {
  margin-right: 4%;
  font-size: 1.4rem;
  cursor: pointer;
  &.inhibit {
    cursor: not-allowed;
  }
}

.Map {
  color: red;
}
.alarmtable {
  margin: 20px;
}
.echartBar {
  margin: auto 0;
}
.IoTinput {
  width: 100px !important;
  // margin-bottom: x !important;
}
.rename {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  p {
    margin-bottom: 0;
  }
  .renameIcon {
    color: #1890ff;
    margin-left: 3px;
    cursor: pointer;
  }
}
.AllStatusCard {
  :global(.ant-card-head-wrapper) {
    // position:relative;
    flex-wrap: wrap !important;
    justify-content: space-between;
    align-items: center;
  }
  :global(.ant-card-head-title) {
    flex: none;
  }
  :global(.ant-card-extra) {
    margin-right: 15px;
    display: flex;
  }
  .groupSelect {
    // overflow: hidden;
    // margin-left: -20% !important;
    min-width: 300px;
    // position: absolute !important;
    // left:130px;
    // top:15px !important;
  }
}
.refreshIcon {
  // font-size: 1.3rem;
  cursor: pointer;
}


.BulkFormWrapper {
  :global(.ant-form-item) {
    margin-bottom: 20px !important;
  }
}
.iconDrop {
  li {
    white-space: pre-wrap !important;
  }
}
.TopoTable {
  th {
    padding: 12px !important;
    transform: translate(0, 0);
  }
  td {
    padding: 12px !important;
    text-align: center !important;
  }
}

.autoRefresh {
  position: relative;
  // font-size: 1.6rem !important;
  .alphet{
    font-weight: bold;
    color:#002fa7;
    display: inline-block;
    font-size: 17px;
    position: absolute;
    right: 7px;
    top:5px;
    z-index: 50;
  }
}
.RebootWrapper {
  display: flex;
  flex-direction: column;
}

.RebootIcon{
  color:#002fa7;
  font-size: 1.4rem !important;
}

.IconWrapper{
  align-items: center;
  // min-width: 130px;
  display: flex;
  justify-content: space-around;
}

// .autoIcon {
//   color: blue;
//   &span {
//     font-size: 2px !important;
//   }
// }


.Card {
  margin-bottom: 1% !important;
  label {
    margin-top: -4px;
  }
  h2 {
    font-family: Oswald !important;
    letter-spacing: 0.05em !important;
    font-size: 1.1rem;
  }
  h3 {
    text-decoration: underline;
    margin-top: 3%;
    margin-bottom: 1%;
    font-weight: 600 !important;
  }
  .divider {
    margin-top: -0.5rem;
  }

  .DeleteIcon {
    color: red;
    cursor: pointer;
    font-size: 1rem;
  }
  .AddIcon {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: -2px;
  }
  .submitBtn {
    display: flex;
    align-items: flex-end;
  }
  .downloadIcon {
    margin-left: 5% !important;
    margin-bottom: 24px;
  }
}
.rebootWording {
  h2 {
    font-weight: bolder;
    font-size: 1rem;
  }
  .rebootdevice {
    margin-left: 3px;
    background: gray;
    border-radius: 5px;
    padding: 1px 5px;
    margin-right: 3px;
    color: white;
  }
}
.SSIDtag {
  margin-bottom: 30px !important;
}
.editcity {
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.6rem;
  color: blue;
  font-weight: 600;
}

.FormWrapper {
  // margin-left: 5%;
  // margin-bottom: 1% !important;
  :global(.ant-form-item-label) {
    position: absolute !important;
    z-index: 96 !important;
    // background: #fff;
    background: linear-gradient(#fff 13px, transparent 0, transparent);
    padding: 0 4px !important;
    margin-top: -11px;
    margin-left: 7px;
  }
  :global(.ant-input-number) {
    border: #fff 1px solid;
  }
  :global(input) {
    height: 45px !important;
    // height: 100% !important;
    border: 1px #e5e5e5 solid;
    border-radius: 4px;
  }
  :global(.ant-select-selector) {
    height: 45px !important;
    // height: 100% !important;
    border: 1px #e5e5e5 solid;
    border-radius: 4px;

  }
  :global(.ant-select-selection-item) {
    margin-top: 8px !important;
  }
  :global(.ant-form-item) {
    position: relative !important;
    margin-bottom: 0px;
  }
  :global(.ant-select-selection-placeholder) {
    margin-top: 6px !important;
  }
  :global(.ant-select-multiple) {
    span {
      margin-top: 0px !important;
    }
  }
  :global(.ant-form-item-explain-error) {
    // margin-bottom: 10x;
    z-index: 96;
  }
  :global(.ant-select-arrow) {
    top: 40%;
  }
  h2 {
    font-size: 1.1rem;
    font-family: Oswald !important;
    letter-spacing: 0.02em !important;
  }
  h3 {
    text-decoration: underline;
    margin-top: 1%;
    margin-bottom: 3%;
    font-weight: 600 !important;
  }
  .divider {
    margin-top: -0.5rem;
  }
  .submitBtn {
    display: flex;
    align-items: flex-end;
  }
}

.FourEightFiveBar {
  width: 50%;
  margin-bottom: 10px !important;
}
.Refresh {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 25px;
}
.allstatusTable {
  // overflow-x: auto;

  th {
    vertical-align: middle !important;
    transform: translate(0%, 0%);
  }
}

.Advance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  li {
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: lightgray 1px solid;
    &:hover {
      color: white;
      background-color: gray;
    }
  }

  .AdTitle {
    margin-top: 2%;
    text-align: left;
    font-family: Oswald;
    cursor: initial;
    font-size: 1rem;
    font-weight: bold;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}

// @media(min-width: 300px) and(max-width: 1140px){
//   .modal {
//     transform: translateY(-10%) !important;
//   }
// }


@media (max-width: 576px) {
  // .groupSelect{
  //   position:inherit !important;
  // }
  .TopoTable {
    td {
      padding: 1px !important;
      padding-right: 0px;
    }
  }
  .rename {
    flex-direction: column;
    .RWDwrapper {
      width: 240px;
    }
  }

  .Status,
  .Map,
  .Setting,
  .IoT,
  .alarmlog {
    font-size: 1.1rem;
  }
  .modal {
    width: 90% !important;
  }
  .alarmtable {
    margin: 0;
  }
  .Tabs {
    margin-top: 12px !important;
  }
  .FourEightFiveBar {
    width: 100%;
    margin-top: 30px !important;
  }
}

@media (max-width: 992px) {
  .ImportRadio {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 1600px) {
  .colum {
    margin-bottom: 15px;
  }
}
