.subHeader {
  table {
    max-width: 80%;
    margin: 5px auto;
  }
  thead th {
    background: #fff8dc !important;
    font-size: 0.85rem;
  }
}


.stepsContent {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.stepsAction {
  margin-top: 24px;
}

.formwrap {
  margin-top:20px;
  .submitBtn {
    margin-top: auto;
  }
  :global(.ant-form-item-label) {
    position: absolute !important;
    z-index: 50 !important;
    background: linear-gradient(#fff 16px,transparent 0,transparent);
    padding: 0 4px !important;
    margin-top: -13px;
    margin-left: 7px;
  }
  :global(input) {
    height: 43px !important;
    border: 1px #e5e5e5 solid;
    border-radius: 4px;
  }
  :global(.ant-select-selector) {
    height: 43px !important;
    border: 1px #e5e5e5 solid;
    border-radius: 4px;
    span{
      // margin-top: 8px;
    }
  }
  :global(.ant-input-number){
    border:#fff 1px solid;
  }
  :global(.ant-select-selection-item){
      margin-top: 8px !important;
  }
  :global(.ant-form-item) {
    position: relative !important;
  }
  :global(.ant-select-selection-placeholder){
      margin-top: 6px !important;
  }
  :global(.ant-select-multiple){
    span{
      margin-top: 0px !important;
    }
  }
  :global(.ant-form-item-explain-error){
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1.1rem;
    font-family: Oswald !important;
    letter-spacing: 0.02em !important;
  }
  h3 {
    text-decoration: underline;
    margin-top: 1%;
    margin-bottom: 3%;
    font-weight: 600 !important;
  }
  .divider {
    margin-top: -0.5rem;
  }
}
.formDiv p {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.NotifiForm {
  width: 50%;
  margin: 0 auto;
}

.InformationBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewUserInfoBtn {
  margin: 16px 10px;
}
.SchemeInput{
  width: 70px !important;
}
.CreateUserIcon{
  width:1.2rem;
  margin-right: 7px;
}
.EditIcon,
.TokenIcon,
.NotificationIcon,
.DeleteIcon,
.ViewSchemeIcon,
.EditGroupIcon {
  font-size: 1.2rem;
  margin-right: 10px !important;
  cursor: pointer;
}
.DeleteIcon{
  color: red;
  font-size: 0.95rem;
  margin-top: 3px;
}
.EditIcon {
  color: #a52a2a;
}
.trashIcon{
  color:red;
  margin-bottom:0.7rem;
  margin-left: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
}
.groupPane {
  height: 500px;
  overflow-y: scroll;
}
.desc {
  th {
    vertical-align: middle !important;
  }
  td {
    vertical-align: middle !important;
  }
}
.modal{
  width: 70% !important;
  overflow-x: auto;
  &.Key{
    width: 40% !important;
  }
  &.Notification{
    width:40% !important;
  }
}

.UserInfoTable {
  overflow-x: auto;
  th, td{
    text-align: center !important;
  }
}
.table{
  th{
    transform:translate(0, 0)
  }
}

.spin {
  text-align: center;
  background: rgba(252, 250, 250, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 100px 30px ;
  margin: 20px 0;
}
.Form{
  width: 100% !important;
}

.formitem{
  width:100%;
  :global(.ant-form-item){
    
  }
}
.EditTokenFormItem{
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .name {
    width: 200px;
  }
  .password {
    width: 200px;
  }
  .level {
    width: 170px;
  }
  .gid {
    width: 170px;
  }
  .modal{
    width: 90% !important;
    &.Key{
      width: 90% !important;
    }
    &.Notification{
      width:90% !important;
    }
}
}

.FormWrapper {
  // margin-left: 5%;
  // margin-bottom: 1% !important;
  :global(.ant-form-item-label) {
    position: absolute !important;
    z-index: 999 !important;
    // background: #fff;
    background: linear-gradient(#fff 12px,transparent 0,transparent);
    padding: 0 4px !important;
    margin-top: -11px;
    margin-left: 7px;
  }
  :global(input) {
    height: 45px !important;
    // height: 100% !important;
    border: 1px #e5e5e5 solid;
    border-radius: 4px;
  }
  :global(.ant-select-selector) {
    height: 45px !important;
    // height: 100% !important;
    border: 1px #e5e5e5 solid;
    border-radius: 4px;
    span{
      // margin-top: 8px;
    }
  }
  :global(.ant-select-selection-item){
      margin-top: 8px !important;
  }
  :global(.ant-form-item) {
    position: relative !important;
    margin-bottom: 0px;
  }
  :global(.ant-select-selection-placeholder){
      margin-top: 6px !important;
  }
  :global(.ant-select-multiple){
    span{
      margin-top: 0px !important;
    }
  }
  :global(.ant-form-item-explain-error){
    // margin-bottom: 10x;
    z-index: 999;
  }
  :global(.ant-select-arrow){
    top:40%;
  }
  h2 {
    font-size: 1.1rem;
    font-family: Oswald !important;
    letter-spacing: 0.02em !important;
  }
  h3 {
    text-decoration: underline;
    margin-top: 1%;
    margin-bottom: 3%;
    font-weight: 600 !important;
  }
  .divider {
    margin-top: -0.5rem;
  }
  .submitBtn {
    display: flex;
    align-items: flex-end;
  }
}


.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
