.table{
    width: 100%;
    text-align: center;
    th{
        text-align: center !important;
    } 
    td{
        border-top: 1px #D3D3D3 solid;
        border-bottom: 1px #D3D3D3 solid;
        text-align: center;
    }
}
@media(max-width:786px){
    .table{
        th,td{
            font-size: 20px;
        }
    }
    .clickBtn span{
        font-size: 20px;
    }
}

.clickBtn{
    margin: 0 20px 20px 0;
    display: flex;
    align-items: center;
    height:auto !important;
}


.card{
    max-width: 100% !important;
}

.actionCol{
    display: flex;
    // min-width: 200px;
    text-align: center;
}

