.IconWrapper{
  align-items: center;
  min-width: 80px;
  display: flex;
  justify-content: space-around;
}
.autoRefresh {
  position: relative;
  // font-size: 1.6rem !important;
  .alphet{
    font-weight: bold;
    color:#002fa7;
    display: inline-block;
    font-size: 17px;
    position: absolute;
    right: 7px;
    top:5px;
    z-index: 50;
  }
}
.rowClass{
  background: gold;
  font-weight: bold;
  // :hover{
  //   background: gold;
  // }
}
.rowClass:hover{
  background: gold;
}
.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    &:hover {
      z-index: 1;
    }
  }
  .maptransfer{
    transform: translateX(12%);
  }
  .drawer{
    width:20% !important;
    &.hide{
      transform: translateX(-100%) !important;
    }
  }
  @media(min-width: 300px) and(max-width: 1040px){
    .maptransfer{
      transform: translateX(0%);
      transform: translateY(5%);
    }
    .drawer{
      width:100% !important;
      &.hide{
        transform: translateX(-100%) !important;
      }
    }
  }

  .circle {
    background: #d83b01;
    border-radius: 50%;
    color: #fff;
    height: 2.5em;
    position: relative;
    width: 2.5em;
  
    border: 1px solid transparent;
  }
  .circleText {
    text-align: center;
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
  .TrackerMap {
    width: 100%;
    height: 60vh;
  }

  .SlideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: space-around;
    margin-top:10px;
    padding:10px;
    height:100px;
  }