// .Logo{
//     margin-right: auto;
//     height: 40px;
//     // background: lightgray ;
// }
.head{
    position: relative;
    background: white;
    height: 52.4px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 3px 3px 5px lightgray;
    padding: 0 20px;
    .headerStatistic{
        margin-bottom:0;
        margin-right: auto;
        color:#042b57;
        font-weight: 900;
        font-size: 1.1rem;
    }
    .Reverse{
        margin-right: auto;
        font-size: 1.5rem;
        cursor: pointer;
        &.HideReverse{
            display:none;
        }
    }
}
.usericon{
    width:35px;
    margin-right:2px;
}
.menu{
    font-size: 20px;

    .inform{
        background: #F8F8FF;
        // padding:10px;
        color:#6495ED;
        border-radius: 50%;
        font-size: 25px;
        &:hover{
            background:#007bff;
            color:white;
        }
    }
    .user{
        font-size: 25px;
    }
    .language{
        font-size: 40px;
        color: #8FBC8F;
    }
    .NotiIcon{
        font-size: 1.6rem;
        background: lightgray;
        border-radius: 50%;
        padding:3px;
        margin-right: -15px;

    }
    .NotiTag{
        position: absolute;
        right:9%;
        margin-top:2px;
    }
}
.superSelect{
        margin: 0 3px 0 -15px !important;

}
.critical{
    color:gold;
    margin-right: 4%;
    font-size: 1.4rem;
} 

.warning{
    color:red;
    margin-right: 4%;
    font-size: 1.4rem;
}