.addbtn{
    margin: 6px;
}

.actionbtn{
    margin-bottom: 21px;
    display: flex;
}

.card{
    width: auto;
}

.table{
    width: 90%;
    margin-right: 5px;
    
    td{
        border-top: 1px #D3D3D3 solid;
        border-bottom: 1px #D3D3D3 solid;
        text-align: center; 
    }
    th{
        text-align: center !important; 
    }
}

@media(max-width: 768px){
    .table{
        width:70%
    }
}

.disable{
    background-color: #DCDCDC !important;
}

.form{
    display: flex;

}
.input{
    margin-left: 6px;
}
.group{
    display: flex;
    flex-direction: row !important;
}

.EdtiDeleBtn{
    display: flex;
    justify-content: center;
    
}
.EdtiBtn{
    margin-right: 10px;
}

