// .DonutSize{
//     width: 400px;
//     height:400px;
// }

.PieWrapper{
    display: flex;
    justify-content: space-between;
}
@media(max-width: 960px){
    .PieWrapper{
        flex-wrap: wrap;
    }
}

.IotMapWrapper{
    width: 100%;
    margin-top:15px;
}

.PieCard{
    width: 100%;
    margin-bottom:10px !important;
    height: auto;
}
.donC{
    width: 100%;
    height: 30%;
}